* {
  box-sizing: border-box;
}

:root {
  --bg-color: #cfc7b5;
  --link-color: #79c0cc;
  --link-hover-color: #367588;

  --primary-font: "Work Sans", sans-serif;
  --main-text-color: #000;

  --white-space: 1rem;
}

a {
  transition: all 3s;
}
button:hover {
  background-color: var(--link-hover-color);
}

button:active {
  background-color: var(--bg-color);
}

a:hover {
  color: var(--link-hover-color);
}

html {
  font-size: 100%;
  font-family: var(--primary-font);
}

img {
  max-width: 100%;
  height: auto;
}

header,
main,
footer {
  max-width: 1300px;
  margin: 0 auto;
  padding: calc(2 * var(--white-space));
}

.full-width {
  background: var(--bg-color);
  color: white;
  width: 100%;
}

.header-wrapper h1 {
  font-size: 3rem;
  font-weight: 700;
  padding-right: 0.75em;
  color: white;
}

.header-wrapper h2 {
  font-size: 1.6em;
  color: rgba(255, 255, 255, 0.95);
  font-weight: 500;
  margin: var(--white-space) 0;
}

.header-wrapper h3 {
  font-size: 1.2rem;
  font-style: italic;
}

.header-wrapper h4 {
  font-size: 0.8rem;
}

main {
  padding: calc(2 * var(--white-space));
}

section {
  margin-bottom: calc(4 * var(--white-space));
}

.section-heading {
  font-style: italic;
  font-size: 1.3rem;
  color: #777;
  margin: 0.5rem 0;
}

ul {
  display: flex;
  justify-content: space-between;
}

.swatches li {
  margin-right: 5vw;
  height: 15vw;
  width: 20%;
}

ul li:last-child {
  margin-right: 0;
}

.color-swatch-1 {
  background-color: #f7f6f4;
}

.color-swatch-2 {
  background-color: #cfc7b5;
}

.color-swatch-3 {
  background-color: #e6dbc3;
}

.color-swatch-4 {
  background-color: #79c0cc;
}

.color-swatch-5 {
  background-color: #367588;
}

.textures div {
  height: 27vw;
  width: 70%;
  margin-right: 5vw;
}

.image {
  background-image: url(../img/hendrixcoffee.jpg);
  opacity: 40%;
  background-repeat: no-repeat;
  background-size: contain;
}

.image:hover {
  opacity: 100%;
  transition: 0.4s ease;
}

button {
  padding: 1rem;
  border-radius: 4px;
  background: var(--link-color);
  text-align: center;
  text-decoration: none;
  font: var(--primary-font);
  font-weight: bold;
  letter-spacing: 1px;
  color: white;
  text-transform: uppercase;
  margin: 0 1rem 1rem 0;
}

.secondary-button {
  background: #cfc7b5;
}

.secondary-button:hover {
  background: #e6dbc3;
}

button:focus,
button:active,
button:focus-within {
  outline: 0;
  border-radius: 4px;
}

.typography-main {
  color: var(--main-text-color);
}

.h1-sample {
  font-size: 2.4rem;
  font-weight: 700;
}

.h2-sample {
  font-size: 1.25rem;
  font-weight: 500;
}

p.typography-sample {
  font-weight: 400;
  line-height: 1.5;
  max-width: 960px;
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

a {
  color: var(--link-color);
  font-weight: bold;
  text-decoration: none;
  transition: all 0.2s;
}

p[class*="font-details-"] {
  margin-top: 0.5rem;
  margin-bottom: calc(2 * var(--white-space));
  font-size: 0.75rem;
  font-family: var(--secondary-font);
  color: #6f6f6f;
}

.adjectives ul {
  font-size: 2rem;
  opacity: 0.5;
}

.adjectives ul {
  flex-direction: column;
}

footer {
  font-style: italic;
}

@media (min-width: 800px) {
  main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 4rem;
  }

  .swatches li {
    margin-right: 3%;
    height: 10vw;
    width: 20%;
  }

  .textures li {
    height: 15vw;
  }
}

@media (min-width: 900px) {
  .adjectives ul {
    flex-direction: row;
  }
}
